<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.tb378fc.stylus"
    android:versionCode="11"
    android:versionName="3.1">

    <uses-sdk android:minSdkVersion="30" android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:label="联想笔桥接"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:hasCode="true">
        <!-- LSPosed：本 APK 同时是 Xposed 模块（画布焦点 + 笔尾=橡皮） -->
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposedminversion" android:value="93" />
        <meta-data android:name="xposeddescription" android:value="联想笔手势/笔刷触感桥：让笔记与小米创作把笔尾当橡皮、只在画布聚焦时振动" />
        <meta-data android:name="xposedscope" android:resource="@array/xposed_scope" />

        <receiver
            android:name=".WakeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.tb378fc.stylus.WAKE" />
                <action android:name="dev.tb378fc.stylus.ATTACH" />
            </intent-filter>
        </receiver>


        <activity
            android:name=".WakeActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>
</manifest>
